* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-between;
}
body {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  line-height: 1.5;
  color: #2b2b2f;
}
header {
  height: 100px;
  padding: 0 20px;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
h1 {
  font-size: 40px;
}
h2 {
  font-size: 32px;
}
a {
  text-decoration: none;
}
.logo img {
  width: 100px;
}
.site-nav {
  list-style: none;
  display: flex;
  flex-direction: row;
}
.site-nav li {
  padding: 0 10px;
}
.site-nav a {
  color: #fff;
  font-weight: bold;
  text-decoration: none;
}
.hero {
  margin-top: -100px;
  background: url("../img/hero.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px;
  color: #fff;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.products {
  background: #e3e2e6;
  padding: 80px 20px;
}
.products aside {
  width: 30%;
}
.categories {
  list-style: none;
}
.categories a {
  color: #2b2b2f;
  font-weight: bold;
  line-height: 3;
}
.products article {
  width: 70%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.product {
  display: flex;
  flex-direction: column;
  padding: 10px;
  width: 31%;
  background: #fff;
  border-radius: 5px;
  margin-bottom: 4%;
  text-align: center;
}
.product .thumbnail {
  width: 100%;
  height: auto;
}
.product .title {
  font-size: 22px;
  line-height: 1.2;
  margin: 10px 0;
}
.product .description {
  margin-bottom: 40px;
}
.product .button {
  background: #eb1a50;
  color: #fff;
  font-size: 17px;
  font-weight: bold;
  margin-top: auto;
  text-align: center;
  text-transform: uppercase;
  border-radius: 3px;
  padding: 3px;
}
.product .button:hover {
  background: #eb431a;
}
footer {
  text-align: center;
  padding: 20px;
  background: #2b2b2f;
  color: #fff;
}
/* Small Desktop */
@media screen and (max-width: 1020px) {
  .product {
    width: 48%;
  }
}
/* Tablet */
@media screen and (max-width: 767px) {
  .logo img {
    width: 80px;
    padding-top: 10px;
  }
  .products {
    padding: 40px 20px;
  }
  .products .container {
    flex-wrap: wrap;
  }
  .products aside,
  .products article {
    width: 100%;
  }
  .categories {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 30px;
  }
  .categories li {
    padding: 0 10px;
  }
}
/* Mobile */
@media screen and (max-width: 500px) {
  body {
    font-size: 12px;
  }
  header {
    flex-direction: column;
  }
  .hero {
    height: 350px;
  }
  .hero h1 {
    padding-top: 2em;
  }
  h1 {
    font-size: 32px;
  }
  h2 {
    font-size: 22px;
  }
  .product {
    width: 100%;
  }
  .product .title {
    font-size: 18px;
  }
}
